
*{
    background-color: aqua;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: black;
    background-color:midnightblue;
}


.biography{
    display: block;
    justify-content: center;
    justify-items: center;

}

/* .cont{
    position: absolute;
    top: 0;
    left: 0;
} */



.head{
    background-color:midnightblue;

}
.bio{
    background-color:midnightblue;
}


.about-1{
    background-color:midnightblue;
}

.skill{
    background-color: midnightblue;
}

.nav{
    color: white;
    background-color: antiquewhite;
}



 .main{
    margin-top: 30px;
    display:flex;
    justify-content: center;
    color: white;
} 

.code{
    color: white;

}

.about{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    color: red;
}

 .Contact{
    margin-top: 50px;
    background-color:midnightblue;
    /* color: black; */

} 

.Bio{
    color: brown;
}

.Bio-2{
    color: burlywood;
    font-weight: bold;
}
.Bio-3{
    color: bisque;
}
.Bio-4{
    color: white;
}

.bio-5{
    color: white;
}


.skill{
    /* display: flex; */
    margin-top: 300px;
    background-color:midnightblue;
    
}

.brief{
    color: white;
}

.contact{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}

.contact-1{
     color: white;
    display: flex;
    justify-content: center;
}

.Name-1{
    display: flex;
    width: 500px;
    height: 50px;
    background-color: white;
    justify-content:left;
    align-items: center;
    border-radius: 10px;   
     
     
}


.con-name{
     display: flex;
     justify-content: center;
     justify-items: center;
    
}



.con-email{
    display: flex;
    justify-content:center;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
    

}

.email{
    display: flex;
    width: 500px;
    height: 50px;
    background-color: white;
    justify-content:left;
    align-items: center;
    border-radius: 10px;
}


.con-message{
    display: flex;
    justify-content:center;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
    

}

.message{
    display: flex;
    width: 500px;
    height: 200px;
    background-color: white;
    justify-content:left;
    border-radius: 10px;


}

.cont-botton{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}

.cont-view{
    display: flex;
    justify-content: center;
    margin-right: 400px;
}

.container{
    padding: auto;
}